<div id="drawer" class="p-drawer">
  <div class="p-drawer__container">
    <ul class="p-drawer__list">
      <li class="p-drawer__item">
        <a href="{{ root }}/#service" class="p-drawer__link">service</a>
      </li>
      <li class="p-drawer__item">
        <a href="{{ root }}/#company" class="p-drawer__link">company</a>
      </li>
      <li class="p-drawer__item">
        <a href="{{ root }}/#work" class="p-drawer__link">work</a>
      </li>
      <li class="p-drawer__item">
        <a href="{{ root }}/#blog" class="p-drawer__link">blog</a>
      </li>
      <li class="p-drawer__item">
        <a href="{{ root }}/#recruit" class="p-drawer__link">recruit</a>
      </li>
      <li class="p-drawer__item">
        <a href="{{ root }}/#contact" class="p-drawer__link">contact</a>
      </li>
    </ul>
    <div class="p-drawer__button-wrap">
      <button class="p-drawer__button" data-micromodal-close>
        <span class="p-drawer__button-icon"></span>
      </button>
    </div>
  </div>
  <div class="p-drawer__overlay" data-micromodal-close></div>
</div>
