<div class="p-header">
  <div class="p-header__logo">
    <a href="{{ root }}">
      <img src="{{ root }}/img/orange.jpg" alt="" />
    </a>
  </div>
  <nav class="p-header__nav">
    <ul class="p-header__nav-list">
      <li class="p-header__nav-item">
        <a href="{{ root }}/#service" class="p-header__nav-link">serviceeeeeeeee</a>
      </li>
      <li class="p-header__nav-item">
        <a href="{{ root }}/#company" class="p-header__nav-link">company</a>
      </li>
      <li class="p-header__nav-item">
        <a href="{{ root }}/#work" class="p-header__nav-link">work</a>
      </li>
      <li class="p-header__nav-item">
        <a href="{{ root }}/#blog" class="p-header__nav-link">blog</a>
      </li>
      <li class="p-header__nav-item">
        <a href="{{ root }}/#recruit" class="p-header__nav-link">recruit</a>
      </li>
      <li class="p-header__nav-item">
        <a href="{{ root }}/#contact" class="p-header__nav-link">contact</a>
      </li>
    </ul>
  </nav>
  <button class="p-header__nav-open" data-micromodal-trigger="drawer" role="button">
    <span class="p-header__nav-icon"></span>
  </button>
</div>
